<!DOCTYPE html>
<html>
<head><title>Foydalanuvchi qo‘shish</title></head>
<body>
    <h2>Yangi foydalanuvchi qo‘shish</h2>
    <form method="post">
        <input type="text" name="username" placeholder="Login"><br>
        <input type="password" name="password" placeholder="Parol"><br>
        <select name="role">
            <option value="teacher">O‘qituvchi</option>
            <option value="admin">Admin</option>
        </select><br><br>
        <button type="submit">Qo‘shish</button>
    </form>
    {% if message %}
    <p>{{ message }}</p>
    {% endif %}
</body>
</html>

