<!DOCTYPE html>
<html lang="uz">
<head>
    <meta charset="UTF-8">
    <title>Foydalanuvchi qo‘shish</title>
</head>
<body>
    <h2>Yangi foydalanuvchi qo‘shish</h2>
    <form method="POST">
        <label>Login:</label><br>
        <input type="text" name="username" required><br>
        <label>Parol:</label><br>
        <input type="password" name="password" required><br>
        <label>Rol:</label><br>
        <select name="role">
            <option value="teacher">O‘qituvchi</option>
            <option value="admin">Admin</option>
        </select><br><br>
        <button type="submit">Qo‘shish</button>
    </form>
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}
</body>
</html>
